<div ui-view class='flex'>
	<div class='content flex-child'>
		<h1>Area Book</h1>

		<!-- Investigators -->
		<div class='main row'>
			<h2>Investigators</h2>
		</div>
		<div class='secondary'>
			<div ng-repeat='(key, value) in inv' class='row' ng-click='openInv(key)'>
				{{ value.name }}
			</div>
		</div>

		<!-- Recent Converts -->
		<div class='main row'>
			<h2>Recent Converts</h2>
		</div>
		<div class='secondary'>
			<div ng-repeat='(key, value) in rc' class='row' ng-click='openRc(key)'>
				{{ value.name }}
			</div>
		</div>

		<!-- Former Investigators -->
		<div class='main row'>
			<h2>Former Investigators</h2>
		</div>
		<div class='secondary'>
			<div ng-repeat='(key, value) in former' class='row' ng-click='openFormer(key)'>
				{{ value.name }}
			</div>
		</div>
	</div>

	<!-- Focus -->
	<div class='flex-child' ng-show='focus' id='focus'>
		<h1>{{ current.name }}</h1>
		<div class='focus-data white'>
			<p ng-show='!focusEdit'>
				<span ng-show='current.age'><b>Age:</b> {{ current.age }}</span>
				<span ng-show='current.gender'><b>Gender:</b> {{ current.gender }}</span>
				<span ng-show='current.phoneNumber'><b>Phone Number:</b> {{ current.phoneNumber }}</span>
				<span ng-show='current.address'><b>Address:</b> {{ current.address }}</span>
				<span ng-show='current.bd'><b>Baptismal Date:</b> {{ current.bd }}</span>
				<span ng-show='current.nickName'><b>Nick Name:</b> {{ current.nickName }}</span>
				<span ng-show='current.reason'><b>Drop Reason:</b> {{ current.reason }}</span>
			</p>
				<p ng-show='focusEdit'><b>Age:</b><input ng-model='current.age'></p>
				<p ng-show='focusEdit'><b>Gender:</b><input ng-model='current.gender'></p>
				<p ng-show='focusEdit'><b>Phone Number:</b><input ng-model='current.phoneNumber'></p>
				<p ng-show='focusEdit'><b>Address:</b><input ng-model='current.address'></p>
				<p ng-show='focusEdit'><b>Baptismal Date:</b><input ng-model='current.bd'></p>
				<p ng-show='focusEdit'><b>Nick Name:</b><input ng-model='current.nickName'></p>
		</div>
		<div ng-repeat='l in lessons | filter:filterLessons()' ng-class-even='"even"'>
				<span><b>{{ redate(l.OrderDate) }}</b></span>
				<span>{{ l.summary }}</span>
				<!-- <span>{{ l.lesson }}</span> -->
		</div>
		<button class='ui-buttons top-button accent regular' ng-click='closeFocus()'>
			<i class='material-icons'>close</i>
		</button>
		<button class='ui-buttons second-button accent regular' ng-click='downloadFocus()'>
			<i class='material-icons'>file_download</i>
		</button>
		<button class='ui-buttons third-button accent regular' ng-show='!focusEdit' ng-click='editFocus()'>
			<i class='material-icons'>edit</i>
		</button>
		<button class='ui-buttons third-button accent regular' ng-show='focusEdit' ng-click='saveFocus()'>
			<i class='material-icons'>save</i>
		</button>
	</div>
</div>
