<div ui-view>
	<div class='content'>
		
		<div ng-show='codeEntry' class='code-entry flex'>
			<input ng-model='authCode' class='flex-child code-input'>
			<button ng-click='authSubmit()'>Authorize</button>
		</div>

		<h1>Mission Areas</h1>


		<!-- Zone Div -->
		<div ng-repeat='(key, val) in zones' class='row-box'>
			<div class='main row'>
				<div>
					{{ val.name }} Zone
					<i class='material-icons' ng-class='{flip: activeZone === val.id }' ng-click='showZone(val.id)'>keyboard_arrow_down</i>
				</div>
			</div>
			<div ng-show='activeZone === val.id'>


				<!-- District Div -->
				<div ng-repeat='val in districts | filter:subset(activeZone, "zoneId")'>
					<div class='secondary row'>
						{{ val.name }} District
						<i class='material-icons' ng-class='{ flip: activeDistrict === val.id }' ng-click='showDistrict(val.id)'>keyboard_arrow_down</i>
					</div>
					<div ng-show='activeDistrict === val.id'>


						<!-- Area Div -->
						<div ng-repeat='val in areas | filter:subset(activeDistrict, "districtId")' class='third row flex'>
							{{ val.name }}


							<!-- Missionary Div -->
							<div ng-repeat='val in miss | filter:subset(val.id, "areaId")' class='missionary'>{{val.name}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='unassigned flex'>
			<div ng-repeat='val in miss | filter:unassigned()' class='missionary'>{{val.name}}</div>
		</div>

		<h1>Church Units</h1>
	
		<div ng-repeat='(key, value) in stakes' class='row-box'>
			<div class='main row'>
				<div>
					{{ value.name }} Stake
					<i class='material-icons' ng-click='exportStake(value.id)'>import_export</i>
					<i class='material-icons' ng-class='{flip: activeStake === value.id }' ng-click='showStake(value.id)'>keyboard_arrow_down</i>
				</div>
			</div>
			<div ng-show='activeStake === value.id'>
				<div ng-repeat='value in units | filter:subset(activeStake, "stakeId")' class='secondary row'>
					{{ value.name }} Unit
				</div>
			</div>
		</div>

	</div>


<!-- SECTION FOR ADDING NEW AREA -->
	<i class='save material-icons' ng-click='save()' ng-show='changed'>save</i>
	<i ng-class='{adding: adding}' class='add material-icons' ng-click='add()'>add</i>
	<div class='add-box' ng-show='adding'>
		<p>
			<select ng-model='newArea.type'>
				<option value='0'>Zone</option>
				<option value='1'>District</option>
				<option value='2'>Area</option>
			</select>
		</p>
			<p ng-show='newArea.type == 0 || newArea.type == 1 || newArea.type == 2'>
				<input type='text' ng-model='newArea.name' placeholder='Name'>
			</p>
			<p ng-show='newArea.type == 0'>
				<select ng-model='newArea.stakeId'>
  				<option ng-repeat='(key, value) in stakes' value='{{ value.id  }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 1'>
				<select ng-model='newArea.zoneId'>
  				<option ng-repeat='(key, value) in zones' value='{{ value.id }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 2'>
				<select ng-model='newArea.districtId'>
  				<option ng-repeat='(key, value) in districts' value='{{ value.id }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 2'>
				<select ng-model='newArea.unitId' multiple>
  				<option ng-repeat='(key, value) in units' value='{{ value.id }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 2'>
				<input ng-model='newArea.phone' placeholder='Phone Number'>
			</p>
			<p ng-show='newArea.type == 2'>
				<input ng-model='newArea.phoneTwo' placeholder='Secondary Phone Number'>
			</p>
			<button ng-click='addArea()'>Add</button>
	</div>
</div>