<div ui-view>
	<div class='content'>

		<h1>Mission Areas</h1>


		<!-- Zone Div -->
		<div ng-repeat='(key, val) in zones' class='row-box'>
			<div class='main row'>
				<div>
					{{ val.name }} Zone
					<button class='ui-buttons small darker' ng-class='{flip: activeZone === val.id}' ng-click='showZone(val.id)'>
						<i class='material-icons'>keyboard_arrow_down</i>
					</button>
				</div>
			</div>
			<div ng-show='activeZone === val.id'>


				<!-- District Div -->
				<div ng-repeat='val in districts | filter:subset(activeZone, "zoneId")'>
					<div class='secondary row'>
						{{ val.name }} District
						<button class='ui-buttons small lighter' ng-class='{flip: activeDistrict === val.id}' ng-click='showDistrict(val.id)'>
							<i class='material-icons'>keyboard_arrow_down</i>
						</button>
					</div>
					<div ng-show='activeDistrict === val.id'>


						<!-- Area Div -->
						<div ng-repeat='val in areas | filter:subset(activeDistrict, "districtId")' class='third row flex'>
							<span class='area-name' ng-show='editingArea.id !== val.id'>{{ val.name }}</span>
							<span class='area-name' ng-show='editingArea.id === val.id'><input ng-model='val.name' placeholder='Area Name'></span>
							<span class='area-phone' ng-show='editingArea.id !== val.id'>{{ val.phone }}</span>
							<span class='area-phone' ng-show='editingArea.id === val.id'><input ng-model='val.phone' placeholder='Primary Phone'></span>
							<span class='area-phone' ng-show='editingArea.id !== val.id && val.phoneTwo' >{{ val.phoneTwo }}</span>
							<span class='area-phone' ng-show='editingArea.id === val.id'><input ng-model='val.phoneTwo' placeholder='Second Phone'></span>


							<!-- Missionary Div -->
							<div ng-repeat='(key, val) in miss | filter:subset(val.id, "areaId")' class='missionary' ng-class='{dl: val.leadership === "dist", zl: val.leadership === "zone", stl: val.leadership === "estl", asst: val.leadership === "asst"}'>
								<span ng-show='editing.id !== val.id'>{{val.name}}</span>
								<i class='edit material-icons accent' ng-click='editMiss(val)' ng-show='editing.id !== val.id'>edit</i>
								<input ng-model='val.name' class='first-input' ng-show='editing.id === val.id'>
								<input ng-model='val.email' ng-show='editing.id === val.id'>
								<select ng-model='val.newAreaId' ng-show='editing.id === val.id'>
 									<option ng-repeat='(k, v) in areas' value='{{ v.id }}' ng-selected='v.id === editing.newAreaId'>{{ v.name }}</option>
								</select>
								<select ng-model='val.leadership' ng-show='editing.id === val.id'>
									<option value='dist' ng-show='val.gender === "Male"' ng-selected='editing.leadership === "dist"'>District Leader</option>
									<option value='zone' ng-show='val.gender === "Male"' ng-selected='editing.leadership === "zone"'>Zone Leader</option>
									<option value='asst' ng-show='val.gender === "Male"' ng-selected='editing.leadership === "asst"'>Assistant</option>
									<option value='estl' ng-show='val.gender === "Female"' ng-selected='editing.leadership === "estl"'>STL</option>
								</select>
								<i class='edit material-icons accent' ng-click='saveMiss(val)' ng-show='editing.id === val.id'>save</i>
							</div>
							<div>
							<i class='district-button material-icons accent' ng-click='saveArea(val)' ng-show='editingArea.id === val.id'>save</i>
							<i class='district-button material-icons accent' ng-click='editArea(val)' ng-show='editingArea.id !== val.id'>edit</i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='unassigned flex'>
			<div ng-repeat='(key, val) in miss | filter:unassigned()' class='missionary'>
				<span ng-show='editing.id !== val.id'>{{val.name}}</span>
					<i class='edit material-icons accent' ng-click='editMiss(val)' ng-show='editing.id !== val.id'>edit</i>
					<input ng-model='val.name' class='first-input' ng-show='editing.id === val.id'>
					<input ng-model='val.email' ng-show='editing.id === val.id'>
					<select ng-model='val.newAreaId' ng-show='editing.id === val.id'>
							<option ng-repeat='(k, v) in areas' value='{{ v.id }}' ng-selected='v.id === editing.newAreaId'>{{ v.name }}</option>
					</select>
					<select ng-model='val.leadership' ng-show='editing.id === val.id'>
						<option value='dist' ng-show='val.gender === "Male"' ng-selected='editing.leadership === "dist"'>District Leader</option>
						<option value='zone' ng-show='val.gender === "Male"' ng-selected='editing.leadership === "zone"'>Zone Leader</option>
						<option value='asst' ng-show='val.gender === "Male"' ng-selected='editing.leadership === "asst"'>Assistant</option>
						<option value='estl' ng-show='val.gender === "Female"' ng-selected='editing.leadership === "estl"'>STL</option>
					</select>
					<i class='edit material-icons accent' ng-click='saveMiss(val)' ng-show='editing.id === val.id'>save</i>
			</div>
		</div>

		<h1>Church Units</h1>
	
		<div ng-repeat='(key, val) in stakes' class='row-box'>
			<div class='main row'>
				<div>
					{{ val.name }} Stake
					<button class='ui-buttons small darker first' ng-click='exportStake(val.id)'>
						<i class='material-icons'>file_download</i>
					</button>
					<button class='ui-buttons small darker second' ng-class='{flip: activeStake === val.id}' ng-click='showStake(val.id)'>
						<i class='material-icons'>keyboard_arrow_down</i>
					</button>
				</div>
			</div>
			<div ng-show='activeStake === val.id'>
				<div ng-repeat='value in units | filter:subset(activeStake, "stakeId")' class='secondary row'>
					{{ value.name }} Unit
				</div>
			</div>
		</div>

	</div>


<!-- SECTION FOR ADDING NEW AREA -->
	<button class='ui-buttons top-button accent regular' ng-click='add()'><i class='material-icons'>add</i></button>
	<div class='add-box' ng-show='adding'>
		<p>
			<label>Type of Addition</label>
			<select ng-model='newArea.type'>
				<option value='0'>Zone</option>
				<option value='1'>District</option>
				<option value='2'>Area</option>
				<option value='3'>Stake</option>
				<option value='4'>Unit</option>
			</select>
		</p>
			<p ng-show='newArea.type == 0 || newArea.type == 1 || newArea.type == 2 || newArea.type == 3 || newArea.type == 4'>
				<input type='text' ng-model='newArea.name' placeholder='Name'>
			</p>
			<p ng-show='newArea.type == 0 || newArea.type == 4'>
				<label>Stake</label>
				<select ng-model='newArea.stakeId' placeholder='Stake'>
  				<option ng-repeat='(key, value) in stakes' value='{{ value.id  }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 1'>
				<label>Zone</label>
				<select ng-model='newArea.zoneId' placeholder='Zone'>
  				<option ng-repeat='(key, value) in zones' value='{{ value.id }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 2'>
				<label>District</label>
				<select ng-model='newArea.districtId' placeholder='District'>
  				<option ng-repeat='(key, value) in districts' value='{{ value.id }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 2'>
				<label>Unit</label>
				<select ng-model='newArea.unitId' multiple placeholder='Unit'>
  				<option ng-repeat='(key, value) in units' value='{{ value.id }}'>{{ value.name }}</option>
				</select>
			</p>
			<p ng-show='newArea.type == 2'>
				<input ng-model='newArea.phone' placeholder='Phone Number'>
			</p>
			<p ng-show='newArea.type == 2'>
				<input ng-model='newArea.phoneTwo' placeholder='Secondary Phone Number'>
			</p>
			<button ng-click='addArea()'>Add</button>
	</div>
</div>