<div ui-view>
	<div class='content'>
	<h2>Phone Number: 405-896-6130</h2>
	<p>This Area Book is setup to receive texts from your phone number and store the information sent for later retrieval and reporting. The texts must be formatted with the information separated by an at symbol (@), if the text asks for a piece of information that you don’t have, please type an extra at symbol(@@), <b>the type of text and name are necessary</b>. Additional information can be update here on your AreaBook. There is a field named ‘Nick Name,’ if their name is too long to text all the time, it will look them up by this as well. The following the supported text events:</p>
	<ul>
		<li>New Investigator - ‘ni@ inv name@ summary@ phone@ address’</li>
		<li>Lessons - ‘lesson@ inv/rc name@ summary@ lesson (see below)’
			<ul>
				<li>1 - Restoration</li>
				<li>2 - Plan of Salvation</li>
				<li>3 - Doctrine of Christ</li>
				<li>4 - Commandments</li>
				<li>5 - Laws and Ordinances</li>
			</ul>
		</li>
		<li>Baptismal Date - ‘bd@ inv name@ date’</li>
		<li>Drop Investigator - ‘drop@ inv name@ drop reason’</li>
		<li>Pickup Former - ‘pickup@ former name’</li>
		<li>Baptism - ‘bap@ inv name’</li>
		<li>Home Teachers - ‘ht@ rc name@ home teachers’</li>
		<li>Visiting Teachers - ‘vt@ rc name@ visiting teachers’</li>
		<li>Church Attendance - ‘church@ rc/inv name@ rc/inv name ...’</li>
		<li>Get Investigators - ‘inv@ name’</li>
			<ul>
				<li>Responds with list of investigators if no name given, or with phone number and address of specific investigator</li>
			</ul>
		<li>Commitments - ‘commit@ name@ commitment@ follow-up date’</li>
			<ul>
				<li>If no variables sent, will respond with list of open commitments</li>
			</ul>
		<li>Follow-Up - ‘followup@ name@ commitment’</li>
	</ul>
	<p>Please text Elder Hilton at 916-521-9970 with any comments or problems you run into.</p>
		

	</div>
</div>