<div ui-view>
	<div class='content'>
		<div ng-repeat='(key, value) in data' class='content'>
			<i class='material-icons' ng-show='editing !== key' ng-click='edit(key)'>edit</i>
			<i class='material-icons' ng-show='editing === key' ng-click='edit(key)'>save</i>
			<h1>{{ value.name }}</h1>
			<p ng-show='editing !== key'>{{ value.email }}</p>
			<input ng-show='editing === key' ng-model='value.email'>
			<p ng-show='editing !== key'>{{ areas[value.areaId].name }}</p>
			<select ng-model='value.areaId' ng-show='editing === key'>
 				<option ng-repeat='(key, value) in areas' value='{{ key }}'>{{ value.name }}</option>
			</select>
		</div>
	</div>
	<i ng-class='{adding: adding}' class=' add material-icons' ng-click='add()'>add</i>
	<div class='add-box' ng-show='adding'>
			<p>
			<input type='text' ng-model='newMiss.name' placeholder='Missionary Name'>
			</p>
			<p>
			<input ng-model='newMiss.email' placeholder='Missionary Email'>
			</p>
			<button ng-click='addMissionary()'>Add</button>
	</div>
</div>