/* Misc Styling */
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}
h1 {
	text-align: center;
}
input {
	border: none;
	background: transparent;
	border-bottom: 1px solid white;
	font-family: 'Roboto', sans-serif;
}
button {
	border: 1px solid white;
	border-radius: 2px;
	background: transparent;
	color: white;
	font-family: 'Roboto', sans-serif;
}
select {
	border-radius: 2px;
	border: none;
	width: 100%;
}
i:hover {
	cursor: pointer;
}
i {
	transition: .5s;
}
.flip {
	transform: rotate(180deg);
	transition: .5s;
}
.flex {
	display: flex;
}
.flex-child {
	flex: 1;
}
*:focus {
  outline: none;
}



/* Auth Styling */
#auth{
	background: #C62828 url("../img/img.jpg") no-repeat center;
	width: 100%;
	height: 100%;
	text-align: center;
}
#auth #logo {
	padding-top: 25%;
	font-size: 60px;
	float: none;
	margin: 0;
	color: #C62828
}
#auth input {
	color: #C62828;
	line-height: 30px
}
#auth input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C62828;
}
#auth input::-moz-placeholder { /* Firefox 19+ */
  color: #C62828;
}
#auth input:-ms-input-placeholder { /* IE 10+ */
  color: #C62828;
}
#auth input:-moz-placeholder { /* Firefox 18- */
  color: #C62828;
}
#auth button {
	margin-top: 20px;
	padding: 7px 19px;
	color: #C62828;
}
#auth button:hover {
	background-color: #fff
}



/* Header Styling */
#header a {
	color: white;
}
#header {
  box-shadow: 0px 0px 5px #888888;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #B71C1C;
	height: 40px;
	position: relative;
}
#logo {
	font-size: 20px;
	color: white;
	font-family: 'Slabo 13px', serif;
	float: left;
	margin: 10px;
}
#logo span {
	color: #497da7;
}
#user {
	color: white;
	float: right;
	margin: 10px;
}
.logout {
	float: right;
	margin: 10px;
}



/* Menu Styling */
#menu-view {
	margin: 0;
}
#menu {
	height: 100%;
	clear: left;
	float: left;
	margin-top: -4px;
	background-color: #d6d6d6;
	border-right: 1px solid #c6c6c6;
}
#menu ul {
	margin: 0;
	padding: 10px 10px 10px 0px;
}
#menu ul li{
	padding: 10px;
	list-style: none;
}
#menu ul li:hover {
	color: #B71C1C;
	padding-left: 6px;
	border-left: 4px solid #B71C1C;
}



/* Content Styling */
#content-view {
  position: absolute;
  right: 0;
  overflow-y: scroll;
}
.content{
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}



/* List Styling Styling */
.row-box {
	width: 100%;
	margin: 0;
}
.row {
	padding: 5px;
}
.row i{
	float: right;
	border: none;
}
.main {
	background-color: grey;	
}
.main h2 {
	text-align: left;
	padding: 5px;
	margin: 0;
}
.secondary {
	background-color: lightgray;
	margin: 0 5px;
}
.third {
	background-color: lightblue;
	margin: 0 10px;
	display: flex;
}
.missionary {
	background-color: #e6e6e6;
	border-radius: 10px;
	margin: 0 5px;
	padding: 0 5px;
}


/* Bottom Right Button Styling - Possibly soon to be depricated */
.add {
	color: white;
	font-size: 30px;
	position: absolute;
	text-align: center;
	background-color: #0D47A1;
	bottom: 10px;
	right: 10px;
	border-radius: 12.5px;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	line-height: 24px;
	transition: .25s;
  box-shadow: 0px 0px 5px #888888;
}
.save {
	color: white;
	font-size: 30px;
	position: absolute;
	text-align: center;
	background-color: lightgrey;
	bottom: 10px;
	right: 45px;
	border-radius: 12.5px;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	line-height: 24px;
	transition: .25s;
  box-shadow: 0px 0px 5px #888888;
}
.adding {
	border-radius: 12.5px 2px 12.5px 12.5px;
}
.add-box {
  box-shadow: 0px 0px 5px #888888;
	position: absolute;
	border-radius: 15px 15px 2px 15px;
	background-color: #c9c9c9;
	bottom: 40px;
	right: 10px;
	padding: 10px;
	color: white;
}